@model Coronado.Web.Domain.Account

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartingBalance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartingBalance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentBalance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentBalance)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AccountId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
